* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #3fdf94;
}
/* wrapper */
.wrapper {
  padding: 28px 0;
  max-width: 405px;
  margin: 135px auto;
  background: #fff;
  border-radius: 10px;
}
