* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::selection {
  color: #fff;
  background: #3fdf94;
}
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #3fdf94;
}

/* wrapper */
.wrapper {
  padding: 28px 0 30px;
  max-width: 405px;
  margin: 135px auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.1);
}
